# Ignore Python environment
env/
venv/
__pycache__/
*.pyc

# Ignore React build output
frontend/dist/
frontend/node_modules/

# Ignore system files
.DS_Store
*.log

# Ignore IDE configs
.vscode/
.idea/
